<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>寒冰射手-艾希</string>
		<key>icon</key>
		<string>hanbing</string>
		<key>desc</key>
		<string>世间万物皆系于一箭之上</string>
	</dict>
	<dict>
		<key>name</key>
		<string>麦林炮手-崔斯特娜</string>
		<key>icon</key>
		<string>xiaopao</string>
		<key>desc</key>
		<string>我好想射点儿什么~</string>
	</dict>
	<dict>
		<key>name</key>
		<string>暴走萝莉-金克斯</string>
		<key>icon</key>
		<string>jinkesi</string>
		<key>desc</key>
		<string>金克斯的含义，就是金克斯！笨</string>
	</dict>
	<dict>
		<key>name</key>
		<string>九尾妖狐-阿狸</string>
		<key>icon</key>
		<string>ali</string>
		<key>desc</key>
		<string>我们去找点儿真正的乐子吧</string>
	</dict>
	<dict>
		<key>name</key>
		<string>复仇焰魂-布兰德</string>
		<key>icon</key>
		<string>huonan</string>
		<key>desc</key>
		<string>总有一天世界会消失在火焰中</string>
	</dict>
	<dict>
		<key>name</key>
		<string>暗黑元首-辛德拉</string>
		<key>icon</key>
		<string>qiunv</string>
		<key>desc</key>
		<string>我的能量无穷无尽</string>
	</dict>
	<dict>
		<key>name</key>
		<string>诺克萨斯之手-德莱厄斯</string>
		<key>icon</key>
		<string>xiaoxueshengzhishou</string>
		<key>desc</key>
		<string>懦弱之举，我绝不姑息</string>
	</dict>
	<dict>
		<key>name</key>
		<string>刀锋意志-艾瑞莉娅</string>
		<key>icon</key>
		<string>daomei</string>
		<key>desc</key>
		<string>真正的意志是不会被击败的</string>
	</dict>
	<dict>
		<key>name</key>
		<string>德玛西亚之力-盖伦</string>
		<key>icon</key>
		<string>dabaojian</string>
		<key>desc</key>
		<string>永远不要忘记，吾等为何而战</string>
	</dict>
	<dict>
		<key>name</key>
		<string>殇之木乃伊-阿木木</string>
		<key>icon</key>
		<string>mumu</string>
		<key>desc</key>
		<string>我们去找点儿朋友吧！</string>
	</dict>
	<dict>
		<key>name</key>
		<string>魂锁典狱长-锤石</string>
		<key>icon</key>
		<string>chuishi</string>
		<key>desc</key>
		<string>我们该怎样进行，这令人愉悦的折磨呢？</string>
	</dict>
</array>
</plist>
